/*  main styles */
body
{
    background-color: #fff7ef;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #272727;
}

h2
{
    font-size: 2.5em;
}

h3
{
    font-size: 2.2em;
}

h4
{
    font-size: 1.7em;
}

p, a
{
    font-size: 1.1em;
    color: #272727;
}

a:hover
{
    text-decoration: none;
    color: #FF5483;
}

li
{
    list-style-type: none;
}

/*  header */
.mainHeader
{
    background-color: #FFE0BF;
    margin: 0;
}

.logo h1
{
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #FF5483;
}

.logo, .socialIcons
{
    padding: 55px 0;
}

.socialIcons ul
{
    display: flex;
    padding-top: 13px;
}

.socialIcons li
{
    margin-right: 35px;
}

.fab
{
    font-size: 1.7em;
    color:  #688dd8;
}

.fab:hover
{
    color: #FF5483;
}

/*  nav */
.navbar
{
    background-color: #5477bc;
}

.navbar .nav-item a,.navbar .connexion a, .navbar .dropdown .btn
{
    color: #ffffff !important;
    margin-right: 5px;
}

.navbar a:hover, .navbar .dropdown .btn:hover
{
    text-decoration: underline !important;
}

.navbar .btn, .navbar .dropdown .btn
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.navbar .dropdown-item
{
    font-size: 1.1em;
    color: #272727;
}

.navbar-collapse
{
    justify-content: center;
    flex-grow: 0.7;
}

/*  slider */
.slider
{
    padding-top: 40px;
    background: radial-gradient(rgb(183, 183, 183), rgb(108 ,108, 108));
    flex-wrap: wrap-reverse;
}

.blocImgAuthor
{
    margin-left: 35px;
}

.imgAuthor
{
    width: 349px;
    height: 435px;
}

.quoteNews
{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 35px;
}

.imgBilletSimple
{
    width: 320px;
    height: 435px;
}


blockquote .fas
{
    color: #FF5483;
}

blockquote h2
{
    font-size: 2.1em;
    line-height: 1.4em;
}

/*  first section */
.presentation 
{
    background-color:#8ba9e5;
    padding: 60px 0;
}

.introduction
{
    background-color: #FFE0BF;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #272727;
}

.introduction p
{
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
}

/* section last episode */
#lastEpisode
{
    background-color: #fff7ef;
    margin: 80px 0;
}
.book
{
    position: relative;
    display: flex;
    height: 500px;
    transform-style: preserve-3d;
    perspective: 4000px;
    perspective-origin: 0% 50%;
    cursor: pointer;
}

.front
{
    background: #4e2802;
    z-index: 1;
}

.back
{
    background: rgb(66, 66, 117);
}

.title
{
    width: 100%;
    position: relative;
    top: 40%;
}

.title h2
{
    font-size: 3em;
    text-align: center;
    color: white;
}

.front, .back, .layer1, .layer2, .layer3, .layer4, .layer-text, .layer-text-2, .layer5, .layer6, .layer7, .layer8
{
    transform-style: preserve-3d;
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0; 
    left: 0;
    transform-origin: left center;
    transition: transform 1s ease-in-out, box-shadow .85s ease-in-out;
}

.front, .back, .layer1, .layer2, .layer3, .layer4, .layer-text, .layer-text-2, .layer5, .layer6, .layer7, .layer8
{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.layer1, .layer2, .layer3, .layer4, .layer-text, .layer-text-2, .layer5, .layer6, .layer7, .layer8
{ 
    background: #efefef;
}

.layer-text-2
{
    border-left: 2px solid rgba(0, 0, 0, .1);
}

.book .page-text
{
    transform: rotateY(180deg);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .front
{
    transform: rotateY(-180deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer1
{
    transform: rotateY(-175deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer2
{
    transform: rotateY(-170deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer3
{
    transform: rotateY(-165deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer4
{
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer-text
{
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer-text-2
{
    transform: rotateY(-25deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer5
{
    transform: rotateY(-20deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer6
{
    transform: rotateY(-15deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer7
{
    transform: rotateY(-10deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .layer8
{
    transform: rotateY(-5deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back
{
    transform: rotateY(0deg) scale(1.1);
}

.page-text, .page-text-2
{
    width: 100%;
    height: 100%;
    padding: 25px 10px;
}

.page-text
{
    text-align: center;
}

.page-text h3
{
    font-size: 3em;
    margin-top: 60px;
}

.page-text p
{
    padding: 60px;
    line-height: 2em;
}

.page-text-2
{
    text-align: justify;
}

.page-text-2 a
{
    color: #FF5483;
}

.page-text-2 a:hover
{
    text-decoration: underline;
}

#lastEpisodeResponsive
{
    display: none;
}

#lastEpisodeResponsive .couverture
{
    padding-top: 60px;
}

#lastEpisodeResponsive .no-gutters
{
    background-color: #fff7ef;
    margin-right: -15px;
    margin-left: -15px;
}

#lastEpisodeResponsive .card-title
{
    margin: 15px 0 30px 0;
    text-align: justify;
}

#lastEpisodeResponsive .card-text
{
    text-align: justify;
}

/* section last novels*/
#lastNovels
{
    background-color: #8ba9e5;
    padding: 40px 0 0 0;
}

#lastNovels h2
{
    text-align: center;
}

#lastNovels .col
{
    margin: 40px 0;
}

#lastNovels .row
{
    padding: 0 5px;
    justify-content: center;
}

#lastNovels .card
{
    align-items: center;
    background-color: #8ba9e5;
    border: 1px #8ba9e5 solid;
}

#lastNovels img
{
    width: 300px;
    height: 375px;
}

#lastNovels .card-body
{
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow:  0 1em 3em 0 rgba(0, 0, 0, .6);
}

#lastNovels a
{
    color: #FF5483;
}

#lastNovels a:hover
{
    text-decoration: underline;
}

#lastNovels .imageResponsive
{
    display: none;
}

/* social icons bottom */
.socialIconsBottom, footer
{
    background-color: #FFE0BF;
}

.socialIconsBottom
{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.socialIconsBottom li
{
    margin-right: 35px;
    cursor: pointer;
}

.socialIconsBottom, footer ul
{
    margin: 0;
}

footer
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
}

footer ul
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

footer li
{
    margin-right: 30px;
}

footer p
{
    padding: 10px 0;
}

/* section books list */
#booksList
{
    margin: 60px 0 20px 0;
}

#booksList .card
{
    padding-top: 20px;
}

#booksList img
{
    width: 300px;
    height: 375px;
}

#booksList .card-body a
{
    color: #FF5483;
}

#booksList .card-body a:hover
{
    text-decoration: underline;
}

/* section book */
#book
{
    margin-top: 15px;
}

#book header
{
    margin: 10px 0 40px;
}

#book .rounded-circle
{
    margin: 8px 20px 20px 0;
}

#book img
{
    width: 300px;
    height: 375px;
}

#book .content
{
    text-align: justify;
}

#book h4
{
    margin-top: 40px;
}

#book button
{
    margin: 40px 15px 20px 0;
}

/* section comments books */
#commentsBooks #textCommentBook
{
    width: 350px;
    height: 250px;
}

/* section episodes list */
#episodesList
{
    margin-top: 40px;
}

#episodesList a
{
    color: #FF5483;
}

#episodesList img
{
    margin: 20px 0;
    width: 300px;
    height: 375px;
    border-radius: 8px;
    box-shadow:  0 1em 3em 0 rgba(0, 0, 0, .6);
}

/* section episode et author */
#episode, #author
{
    margin-top: 15px;
}

#episode header, #author header
{
    margin: 10px 0 40px;
}

#episode .rounded-circle,
#author .rounded-circle 
{
    margin: 8px 20px 20px 0;
}

#episode .content, #author .content
{
    text-align: justify;
}

#author
{
    margin-bottom: 40px;
}

/* section commentaires episodes*/
#comments
{
    margin-bottom: 40px;
}

#comments h4
{
    margin: 10px 0 20px 0;
}

#comments span
{
    font-weight: bold;
}

#commentsEpisodes #textCommentEpisode
{
    width: 350px;
    height: 250px;
}

/* connexion page */
#connexion
{
    margin: 80px 0;
}

#connexion .connect, #connexion .create
{
    border: 1px rgba(0, 0, 0, .2) solid;
    border-radius: 8px;
    box-shadow:  0 1em 3em 0 rgba(0, 0, 0, .1);
}

#connexion .connect
{
    margin-right: 20px;
}

#connexion .create
{
    margin-left: 20px;
}

#connexion h3
{
    margin: 20px 0;
}

/* profil page */
#infos
{
    margin-top: 60px;
    height: 1200px;
}

.textInfos
{
    height: 400px;
}

.changeMdp
{
    margin-bottom: 60px;
    height: 400px;
}

.changeMdp h4
{
    padding-bottom: 20px;
}

.changeMdp label, .changeMdp .btn
{
    margin: 10px 0;
}

/* admin */
#admin
{
    padding-bottom: 80px;
}

#admin .listEpisodes h1
{
    margin: 40px 0;
}

#admin a
{
    margin-right: 10px;
}

#admin .listComments h2
{
    margin: 40px 0;
}

/* modify page */
#modify
{
    margin: 25px 0 80px;
}

#modify h1
{
    margin: 50px 0;
}

#modify header
{
    margin: 60px 0;
}

#modify label
{
    font-weight: bold;
}

/* error page */
#error
{
    height: 500px;
    padding: 220px 20px;
}

@media all and (max-width: 1199px)
{
    #lastNovels .imageResponsive
    {
        display: initial;
    }
}

@media all and (max-width: 991px)
{
    .logo
    {
        padding-bottom: 10px;
    }

    .socialIcons
    {
        padding-top: 10px;
    }

    .slider{
        padding-bottom: 40px;
    }

    .blocImgAuthor
    {
        display: none;
    }

    .book
    {
        height: 400px;
    }

    .front, .back, .layer1, .layer2, .layer3, .layer4, .layer-text, .layer-text-2, .layer5, .layer6, .layer7, .layer8
    {
        width: 300px;
        height: 100%;
    }

    .page-text, .page-text-2
    {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .page-text h3
    {
        font-size: 2em;
        margin-top: 50px;
    }

    .page-text p, .page-text-2 p
    {
        font-size: 1em;
        line-height: 1.4em;
    }

    #connexion .connect
    {
        margin-bottom: 60px;
    }

    #connexion .create
    {
        margin: auto;
    }
}

@media all and (max-width: 767px)
{
    .quoteNews
    {
        padding: 55px 0;
    }

    #lastEpisode
    {
        display: none;
    }

    #lastEpisodeResponsive
    {
        display: initial;
    }

    #lastNovels .imageResponsive
    {
        display: none;
    }
}

@media all and (max-width: 576px)
{
    .logo h1 
    {
        text-align: center;
    }

    footer ul
    {
        justify-content: center;
    }

    footer p{
        text-align: center;
    }
}

@media all and (max-width: 480px)
{
    .blocBilletSimple
    {
        margin-left: 10px;
        padding-right: 0;
    }

    .imgBilletSimple
    {
        width: 300px;
        height: 375px;
    }

    #book img
    {
        width: 280px;
        height: 349px;
    }

    #episodesList img
    {
        margin: 20px 0;
        width: 280px;
        height: 349px;
    }

    #commentsBooks #textCommentBook, #commentsEpisodes #textCommentEpisode
    {
        width: 280px;
        height: 200px;
    }
}
